<section class="relative">
  <div class="w-full h-[90vh] relative">
    <img src="./images/code-monks.png" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover brightness-50" />

    <div class="absolute inset-0 flex items-center justify-center">
      <div class="text-center text-white px-4">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Welcome to Our Website</h1>
        <p class="text-lg md:text-xl">We build awesome things, Ready to grow your brand? Let's build something great together.</p>
      </div>
    </div>
  </div>
</section>


